
<!-- About me -->
        <section class="about-me" id="about">
          <h2 class="section__title section__title--about">Who am I?</h2>

          <p class="section__subtitle section__subtitle--about">A designer & developer based out of Seattle</p>

          <div class="about-me__body">

              <p>I am a designer in Great Seattle area well known as the Emerald City. I have ve worked in print, promotional, experience, digital, web, and app design and development.
                  I design experiences for desktop, web, tablets, and mobile applications by day. I consult and design for clients by night.</p>

               <p>Content Management, Web Design and Development Professional with extensive experience in content management and understanding
                   of Latin American market environment, cultures and work ethics. Over fifteen years' professional design experience in B2B
                   and B2C for small/large-scale web site development with focus on compliance with accessibility and usability standards on
                   the web. Experience with Landing Pages and E-Commerce sites. Adept in facilitating corporate communications and writing
                   documentation. Strong interest in user experience and interaction design. Strong customer focus and desire to please
                   international, and consumer customers. Ability to work with highly confidential information and diverse teams of individuals.
                   Enthusiastic, insightful and motivational team player and leader with ability to quickly learn additional skills that might be
                   needed in the position.
              </p>
          </div>

          <img src="assets/img/dev-quique-02.jpg" alt="QuiQue at the park" class="about-me__img">
      </section>
 <p class="text-right footer__link" style="margin-bottom: 3rem; margin-right: 2.5rem"><a href="#top"><span style="font-size: 0.9rem!important; color:#000; margin-right: 1rem;">Back to top</span></a></p>



